<<<<<<< HEAD
.social-icons{
  position: fixed;
  left: 20px;
  bottom:20px;
}
.btn-social{
  cursor:pointer;
  width:50px;
  height: 50px;
  border-radius:50px;
}
.social-icons .navbar-nav li{
  position: absolute;
  bottom:0;
  z-index: -1;
  transition: .2s all;
}
.social-icons .navbar-nav.show li:nth-child(1){
  bottom: 60px;
}
.social-icons .navbar-nav.show li:nth-child(2){
  bottom: 120px;
}
.social-icons .navbar-nav.show li:nth-child(3){
  bottom: 180px;
}
=======
.social-icons { position: fixed; left: 20px;
bottom: 20px; }
.btn-social {
cursor: pointer;
width: 50px;
height: 50px;
border-radius:50px;
}
.social-icons .navbar-nav li {
position: absolute; bottom: 0;
z-index: -1; transition: .2s all;
}
.social-icons .navbar-nav.show li:nth-child(1){
bottom: 60px}
.social-icons .navbar-nav.show li:nth-child(2){
bottom: 120px}
.social-icons .navbar-nav.show li:nth-child(3){
bottom: 180px;}
>>>>>>> d3c08080492a4e4d98ffc42d094e79995ac69fab
