/* estilos para dropdown */
.menus{
  border: 0;
  background: rgba(33, 97, 140,.5);
}
.menus li a{
  border-bottom: 1px solid #fff;
  color:#fff;
}
.menus li a:hover{
  background:rgb(93, 173, 226);
  color:#fff;
}
/* estilos para cards */
.card:hover{
  transform: scale(1.05);
  transition: 1s all;
}
/* estilos para barra social */
.social-icons {
  position: fixed;
  left: 20px;
  bottom: 20px;
}
.btn-social {
  cursor: pointer;
  width: 50px; height: 50px;
  border-radius: 50px;;
}
.social-icons .navbar-nav li {
  position: absolute;
  bottom: 0; z-index: -1;
  transition: .2s all;
}
.social-icons .navbar-nav.show li:nth-child(1){
  bottom: 60px;
}
.social-icons .navbar-nav.show li:nth-child(2){
  bottom: 120px;
}
.social-icons .navbar-nav.show li:nth-child(3){
  bottom: 180px;
}
/* estilo ofcanvas*/
.valores{
  border: 0;
  background: rgba(255, 255, 255,.9);
}

.banner{
  background-image:url(../img/fondo_banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: inherit;
  transition: 2s all;
}
.banner:hover{
  background-image:url(../img/fondo_banner2.png);
  transition: 2s all;
}
.justificado{
  text-align: justify;
}
/*boton ir arriba*/
.ir-arriba {
	display:none;
	padding:15px;
	background:rgba(11, 69, 114,.5);
	font-size:10px;
	color:#fff;
	cursor:pointer;
	position: fixed;
  border-radius: 5px;
	bottom:20px;
	right:20px;
}
